<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"> 
<head>
    <title th:text="${loggedInUser.name}+' | SCM'">Dashboard Page</title>
</head>

<body>

    <div id="content">

        <!-- logged in sidebar -->
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>
        <div  class="pl-64 pt-20">
            <h1 class="text-3xl">Welcome to Dashboard Page</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, modi asperiores tenetur, sint harum consequuntur esse atque cupiditate vel doloremque, odio alias ab. Perspiciatis ipsam consequuntur officia ducimus, excepturi cumque.
        </div> 
    </div>
   <script>
    console.log("Dashboard Page")
   </script>
</body>
</html>