<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"> 
<head>
    <title>Service Page</title>
</head>

<body>
   <div id="content">
    <h1>Welcome to service page</h1>
    <h2>Services offered by SCM</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus itaque tempore totam fugiat suscipit praesentium nostrum voluptas magnam voluptatibus ratione a, molestias recusandae inventore. Voluptates neque reprehenderit error dignissimos rerum!
    </div> 
    <script>
        console.log("Service page")
    </script>
</body>
</html>